/* style.css */
body{
  background-image: url(media/background.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  
}
/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Style the navigation bar */
  header {
    background-color: #1e1f21;
    position: fixed;
    bottom: 3%;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 22px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
  }
  
  nav ul li:hover {
    transition: 0.5s;
    transform: translateY(-33%);
  }

  nav ul li:not(:hover) {
    transition: 0.5s;
    transform: translateY(0);
  }
  

  
  #homeContainer {
    position: absolute;
    border-radius: 11px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: rgba(58, 58, 58, 0.338);
    padding: 33px;
  }
  
  #homeContainer h1 {
    font-size: 44px;
    left: 0;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  #homeContainer h3 {
    font-size: 22px;
    color: #cfcfcf;
    margin-bottom: 44px;
  }
  
  #homeContainer p {
    font-size: 18px;
    color: #ffffff;
  }