/* style.css */

/* Reset default margin and padding */
body, ul {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  /* Style the navigation bar */
  header {
    background-color: #333;
    position: fixed;
    bottom: 3%;
    width: fit-content;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 22px;
  }
  
  nav ul {
    list-style-type: none;
    text-align: center;
    padding: 10px 0;
  }
  
  nav ul li {
    display: inline-block;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    padding: 10px 20px;
  }
  
  nav ul li:hover {
    transition: 0.5s;
    transform: translateY(-33%);
  }

  nav ul li:not(:hover) {
    transition: 0.5s;
    transform: translateY(0);
  }
  
  footer {
    margin-top: 30px;
    text-align: center;
  }  

  .container{
    background-color: bisque;   
  }

  #homeContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: rgb(16, 161, 28);
  }
  
  #homeContainer h1 {
    font-size: 44px;
    left: 0;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  #homeContainer h3 {
    font-size: 18px;
    color: #cfcfcf;
    margin-bottom: 20px;
  }
  
  #homeContainer p {
    font-size: 16px;
    color: #ffffff;
  }